/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #3b5998; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #899bc1; }
div.jqcloud a:hover { color: #899bc1; }
div.jqcloud span.w10 { color: #23355b; }
div.jqcloud span.w9 { color: #23355b; }
div.jqcloud span.w8 { color: #293e6a; }
div.jqcloud span.w7 { color: #2f4779; }
div.jqcloud span.w6 { color: #355088; }
div.jqcloud span.w5 { color: #3b5998; }
div.jqcloud span.w4 { color: #4e69a2; }
div.jqcloud span.w3 { color: #627aac; }
div.jqcloud span.w2 { color: #758ab6; }
div.jqcloud span.w1 { color: #899bc1; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }